<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <title>会员管理系统</title>

  <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap-3.3.4-dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Publicmodel_index.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/logined.css">

<!--  <script type="text/javascript" src="__PUBLIC__/js/ie-warning.js"></script>
-->
</head>
<body>
<include file="Publicmodel:index_logined" />
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="{:U('logined','','')}">会员消费 <span class="sr-only">(当前)</span></a></li>
            <li class="active"><a href="{:U('add','','')}">会员新增</a></li>
            <li><a href="{:U('','','')}">会员一览</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h4 class="sub-header">这里将新的会员信息录入系统中</h4>
          <div class="form-inline ones_info" >
          <input  class="form-control" id="name" placeholder="姓名" maxlength="32" >
          <input  class="form-control" id="phone_number" placeholder="手机号码" maxlength="11">
          <input  class="form-control" id="balance" placeholder="金额/元" maxlength="6">
          </div>
          <button type="submit" class="btn btn-default" id="add">增加</button>
            <div id="hid">
             <div id="alert_info">
             </div>
           </div>
         </div>
      </div>
    </div>
<script type="text/javascript">
  var add="{:U('do_add','','')}";
</script>
<script type="text/javascript" src="__PUBLIC__/js/Jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/curd.js"></script>
</body>
</html>