<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <title>会员管理系统</title>

  <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap-3.3.4-dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Publicmodel_index.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/logined.css">

<!--  <script type="text/javascript" src="__PUBLIC__/js/ie-warning.js"></script>
-->
<style type="text/css">
  .pages a{
    padding-left: 30px;
  }
  .pages span{
    padding-left: 30px;
  }
</style>
</head>
<body>
<include file="Publicmodel:index_logined" />
<div class="container-fluid">
      <div class="row">
         <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="{:U('logined','','')}">会员消费 <span class="sr-only">(当前)</span></a></li>
            <li ><a href="{:U('add','','')}">会员新增</a></li>
            <li ><a href="{:U('index/show','','')}">会员一览</a></li>
            <li class="active"><a href="{:U('index/conf','','')}">设置中心</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h4 class="sub-header">默认消费设置</h4>
          <div class='underlines'></div>
          <div class='form-inline ones_info ' >
              <input  class='form-control id_card' placeholder='默认消费金额' />
              <button type='submit' class='btn btn-default ' id="sav_def" >保存</button>
          </div>

          <h4 class="sub-header">初始会员卡号设置</h4>
          <div class='underlines'></div>
          <div class='form-inline ones_info ' >
              <input  class='form-control id_card' placeholder='初始会员卡号' />
              <button type='submit' class='btn btn-default ' id="sav_number" >保存</button>
          </div>

        </div>
      </div>
    </div>
<script type="text/javascript">
  var conf="{:U('index/do_default','','')}";
  var conf_id_number="{:U('index/do_id_number','','')}";
</script>
<script type="text/javascript" src="__PUBLIC__/js/Jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/curd.js"></script>
</body>
</html>